[submodule "client-gateway"]
	path = client-gateway
	url = https://github.com/Nullises/api-gateway.git
[submodule "orders-ms"]
	path = orders-ms
	url = https://github.com/Nullises/orders-microservice-practice.git
[submodule "products-ms"]
	path = products-ms
	url = https://github.com/Nullises/microservices-products-practice.git
